@use "./typography";

@mixin script-heading() {
    color: #DB8D33;
    font-size: 50px;
    font-family: typography.$secondary-font;
    font-weight: 300;
}

@mixin main-link() {
    color: #DB8D33;
    text-transform: uppercase;
    font-size: 16px;
}

