@use "./typography";
@use "./colors";

@mixin script-heading() {
    color: colors.$secondary-font-color;
    font-size: 50px;
    font-family: typography.$secondary-font;
    font-weight: 300;
}

@mixin main-link() {
    color: colors.$primary-font-color;
    text-transform: uppercase;
    font-size: 16px;
}

